/*  
body{
    background-color: blueviolet;
    color: white;
}

h2{
    color: red;
}
.titres{
    font-size: 40px !important;
}
*/


 .error{
    background: #F00;
 }




#box div{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width : 700px){

    #box div{
        background-color: wheat;
    }
}